<div class="comment-form">
    <%= form_for Author.new, remote: true do |f| %>
      <h4>Your Name:</h4>
      <%= f.text_field :name, id: 'author-name' %><br>
      <br>
      <h4>Leave a Comment (be nice):</h4>
      <%= fields_for Comment.new do |c| %>
        <%= c.hidden_field :post_id, value: post.id %>
        <%= c.text_area :content, class: 'form-control', id: 'comment-content', size: 75 %><br>
      <% end %>

      <%= f.submit 'Create Comment', class: "btn btn-primary" %>
    <% end %>
</div>
