<!-- Title -->
<h1><%= most_recent_post.title %></h1>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> <%= most_recent_post.created_at %></p>

<hr>

<!-- Preview Image -->
<% if most_recent_post.image_url %>
  <img class="img-responsive" src="<%= most_recent_post.image_url %>" alt="">
<% end %>
<hr>

<!-- Post Content -->
<p><%= most_recent_post.content %></p>

<hr>

<!-- Blog Comments -->
<!-- Comments Form -->
<%= render partial: 'comments/form' %>

<hr>

<!-- Posted Comments -->
<% most_recent_post.comments.each do |comment| %>
<!-- Comment -->
  <%= render partial: 'comments/comment', locals: { comment: comment } %>
<% end %>
