<!-- Title -->
<h1><%= post.title %></h1>

<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> <%= post.created_at %></p>

<hr>

<!-- Preview Image -->
<% if post.image_url %>
  <img class="img-responsive" src="<%= post.image_url %>" alt="">
<% end %>
<hr>

<!-- Post Content -->
<p><%= post.content %></p>

<hr>

<!-- Blog Comments -->
<!-- Comments Form -->
<%= render partial: 'comments/form', locals: { post: post } %>

<hr>

<!-- Posted Comments -->
<div id="comments" post_id_<%= post.id %>>
  <%= render partial: 'comments/post_comments',
  locals: { post: post } %>
</div>
